<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Performances Information</title>
</head>
<body>
    <div align="center">


        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>

        <div sec:authorize="hasAnyAuthority('ADMIN','CASHIER')">
            <a href="/newPerformance">Add Performance</a>
        </div>

        <table border="1" cellpadding="10">
            <h2>Performance List</h2>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Performer</th>
                    <th>Genre</th>
                    <th>Date</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN', 'CASHIER')">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="performance : ${listPerformances}">
                    <td th:text="${performance.ptitle}">Title</td>
                    <td th:text="${performance.pname}">Performer</td>
                    <td th:text="${performance.pgenre}">Genre</td>
                    <td th:text="${performance.pdate}">Date</td>

                    <td sec:authorize="hasAnyAuthority('ADMIN', 'CASHIER')">
                        <a th:href="@{'/buyTicket/'+${performance.pid}}">Buy Ticket</a>
                    </td>

                    <td sec:authorize="hasAnyAuthority('ADMIN', 'CASHIER')">
                        <a th:href="@{'/editPerformance/'+${performance.pid}}">Edit</a>
                    </td>

                    <td sec:authorize="hasAnyAuthority('ADMIN', 'CASHIER')">
                        <a th:href="@{'/deletePerformance/'+${performance.pid}}">Delete</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>